<!DOCTYPE html>
<html lang="en">

<%- include('../layout/header') %>

    <body class="sidebar-mini layout-fixed" cz-shortcut-listen="true" style="height: auto;">
        
        <%- include('../layout/preloader') %>
        <%- include('../layout/nav') %>
        <%- include('../layout/sidebar') %>

        <%- include('../containers/patient/list') %>
        <%- include('../layout/footer') %>

        <%- include('../layout/scripts') %>
    </body>

</html>